body,
html {
  background-color: white;
  margin: 0;
  padding: 0;
}

body {
  color: #263238;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  border: 1px solid red;
}

.header {
  background-color: #def6e5;
}

.header-content {
  /* border: 1px solid green; */
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 400px;
  margin: 0 auto;
  max-width: 1000px;
}

.header-text-wrapper {
  position: relative;
}

.header-title {
  color: #263238;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: -1.5px;
  max-width: 500px;
}

.header-text {
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
}

.header-image-wrapper {
  margin: 0 auto;
  text-align: center;
}

.header-image {
  max-width: 400px;
}

.header-image-attribution {
  color: #263238;
  display: inline-block;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: .75rem;
}

.accom {
  background-color: #def6e5;
}

.accom-cards-wrapper {
  /* border: 1px solid blue; */
  margin: 0 auto;
  max-width: 1000px;
  padding: 50px 0;
}

.accom-cards-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  column-gap: 16px;
  row-gap: 16px;
}

.accom-card {
  background-color: #fff;
  border: 1px solid #111111;
  border-radius: 4px;
  padding: 10px 20px;
}

.accom-card-title {
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: -1px;
  margin: 0;
  cursor: pointer;
}

.accom-card-text {
  font-family: "Roboto", sans-serif;
}

input[type=checkbox] {
  height: 25px;
  margin: 0 10px 0 0;
  width: 25px;
}

.btn {
  background-color: #f2b705;
  border: 1px solid #111111;
  border-radius: 3px;
  font-family: "Roboto", sans-serif;
  font-size: 1.125rem;
  font-weight: 500;
  margin-top: 20px;
  padding: 10px 14px;
  transition: background-color .2s ease-out;
}

.btn:hover {
  background-color: #f25244;
}

.footer {
  background-color: #def6e5;
  padding: 20px 0;
  /* border: 1px solid orange; */
}

.footer-copywrite {
  color: #888888;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: .75rem;
  font-weight: 500;
}


/* output */
.udl {
  max-width: 900px;
  margin: 0 auto;
  border: 1px solid blue;
}

.udl-output-wrapper {
  margin: 50px auto;
  max-width: 1000px;
  border: 1px solid green;
}

.udl-group {
  border: 1px solid red;
  background: #fff;
  border: 3px solid rgb(21, 156, 219);
  border-radius: 8px;
  position: relative;
  box-shadow: 0 0 0 3px rgb(255, 187, 0);
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
}

.udl-accom-title {
  border: 1px solid red;
  background: #fff;
  position: absolute;
  top: -42px;
  left: 20px;
  padding: 0 7px;
}

.udl-list {

}

.udl-strategy {
  border: 1px solid red;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  margin-bottom: 14px;
}