body,
html {
  background-color: white;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.header-wrapper {
  margin: 0 auto;
  max-width: 800px;
  padding: 25px 35px;
}

.header-title {
  color: #2ea6a6;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.1;
  max-width: 600px;
}

.header-text {
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
}

.accom-cards-wrapper {
  margin: 0 auto;
  max-width: 800px;
  padding: 25px 35px;
}

.accom-cards-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  column-gap: 16px;
  row-gap: 16px;
}

.accom-card {
  border: 2px solid #111111;
  border-radius: 3px;
  max-width: 400px;
}

.accom-card-title {
  font-weight: 700;
  text-align: center;
}

.accom-card-text {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  padding: 0 16px;
}

.btn {
  margin-top: 20px;
  padding: 10px 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1.125rem;
  background-color: #f2b705;
  border-radius: 3px;
  border: 1px solid #111111;
  transition: background-color .2s ease-out;
}

.btn:hover {
  background-color: #f25244;
}

.footer-copywrite {
  color: #888888;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: .75rem;
  font-weight: 500;
}