body,
html {
  background-color: white;
  margin: 0;
  padding: 0;
}

body {
  background-color: #def6e5;
  color: #263238;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
}

.header {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 400px;
  margin: 0 auto;
  max-width: 1000px;
}

.header-text-wrapper {
  position: relative;
}

.header-title {
  color: #263238;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: -1.5px;
  max-width: 500px;
}

.header-text {
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
}

.header-image-wrapper {
  margin: 0 auto;
  text-align: center;
}

.header-image {
  max-width: 400px;
}

.header-image-attribution {
  color: #263238;
  display: inline-block;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: .75rem;
}

.accom-cards-wrapper {
  margin: 50px auto;
  max-width: 1000px;
  padding: 25px 35px;
}

.accom-cards-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  column-gap: 16px;
  row-gap: 16px;
}

.accom-card {
  background-color: #fff;
  border: 1px solid #111111;
  border-radius: 4px;
  padding: 10px 16px;
}

.accom-card-title {
  font-weight: 500;
  letter-spacing: -1px;
  margin: 0;
}

.accom-card-text {
  font-family: "Roboto", sans-serif;
}

.btn {
  background-color: #f2b705;
  border: 1px solid #111111;
  border-radius: 3px;
  font-family: "Roboto", sans-serif;
  font-size: 1.125rem;
  font-weight: 500;
  margin-top: 20px;
  padding: 10px 14px;
  transition: background-color .2s ease-out;
}

.btn:hover {
  background-color: #f25244;
}

.footer-copywrite {
  color: #888888;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: .75rem;
  font-weight: 500;
}